ul.channels{
  margin: 0;
  padding: 0;
}
ul.channels ul.channel, ul{
  padding-left: 1em;
}
ul.channels li.channel, ul.channels li.client{
  list-style: none;
}
ul.channels li.channel.opened:before,
ul.channels li.channel.closed:before,
ul.channels li.client:before{
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 3px;
}
ul.channels li.channel.opened:before{
  background-image: url("channel_green_subscribed.svg");
}
ul.channels li.channel.closed:before{
  background-image: url("channel_red_subscribed.svg");
}
ul.channels li.client:before{
  background-image: url("player_off.svg");
}

#channels_card_body{
  max-height: 30em;
  overflow-y: auto;
}